body {
    overflow: hidden;
    font-size: 5vh;
    font-family: sans-serif;
}

main.preleganto-presentation > section.preleganto-slide {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    overflow: hidden;
}

section.preleganto-slide > section {
    padding: 7vh 7vw 7vh 7vw;
}

h1 {
    margin-top: 1vh;
    font-size: 8vh;
}

h2 {
    margin-top: 1vh;
    font-size: 6vh;
}

h3 {
    margin-top: 1vh;
    font-size: 5vh;
}

img {
    max-width: 100%;
    max-height: 90vh;
    display: block;
}

.preleganto-display-math {
    overflow: visible;
    display: table; /* inline-block does not work, don't know why */
}

.katex {
    white-space: normal; /* fix spaces in katex output */
}

@media (max-width: 1100px) {
    body {
        font-size: 3vh;
    }

    section.preleganto-slide > section {
        padding: 3vh 3vw 3vh 3vw;
    }

    h1 {
        margin-top: 0;
        font-size: 5vh;
    }

    h2 {
        margin-top: 0;
        font-size: 4vh;
    }

    h3 {
        margin-top: 0;
        font-size: 3.5vh;
    }
}
