@import url('https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu+Mono');

/* === COMMON === */

body {
    background-color: #91a19b;
    font-family: 'PT Sans', sans-serif;
}

.preleganto-slide {
    background-color: #f0ece3;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 1);
}

header, footer {
    color: #6d4d47;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > .slide-counter {
    display: inline-block;
    float: right;
    padding-bottom: 2vh;
    padding-right: 2vh;
    font-size: 3.5vh;
}

pre, code {
    font-family: 'Ubuntu Mono', monospace;
}

ul, ol {
    padding-left: 6vh;
    list-style: none;
}

ul > li, ol > li {
    margin-bottom: 1vh;
    line-height: 1.35;
}

ol > li {
    counter-increment: list1;
}

ol > li:before {
    content: counter(list1);
}

ol > ol > li {
    counter-increment: list2;
}

ol > ol > li:before {
    content: counter(list2);
}

ol > ol > ol > li {
    counter-increment: list3;
}

ol > ol > ol > li:before {
    content: counter(list3);
}

ul > li:before {
    content: "\27a4";
    color: #6d4d47;
    font-size: 4.2vh;
    margin-right: 2.1vh;
    margin-left: -5.7vh;
    position: relative;
    top: -0.4vh;
}

ol > li:before {
    background-color: #6d4d47;
    color: #f0ece3;
    font-weight: bold;
    margin-right: 2vh;
    margin-left: -5.35vh;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.5vh;
    position: relative;
    top: -0.9vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0.3vh;
    padding-bottom: 0.4vh;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: #a01d22;
}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* === OPENING === */

.opening {
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
}

.opening h1 {
    font-size: 12vh;
}

.opening h2 {
    font-size: 8vh;
}

.opening h3 {
    font-size: 6vh;
}

/* === CLOSING === */

.closing {
    margin-top: 25vh;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
}

.closing h1 {
    font-size: 12vh;
}

/* === BLOCKS and MACROS === */

.preleganto-inline-math {
    background-color: #ece3e0;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 0.5vh;
    font-size: 75%;
}

.preleganto-display-math {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    background-color: #ece3e0;
    border-radius: 1vh;
}

code {
    font-size: 75%;
    color: #f0ece3;
    background-color: #362623;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 0.5vh;
    position: relative;
    top: -2px;
}

.preleganto-source {
    background-color: #362623;
    padding: 2vh;
    border-radius: 1vh;
}

@media (max-width: 1100px) {
    ul > li:before {
        font-size: 2.5vh;
        margin-right: 1.3vh;
        margin-left: -3.4vh;
        top: -0.24vh;
    }

    ol > li:before {
        margin-right: 1.2vh;
        margin-left: -3.2vh;
        font-size: 1.5vh;
        top: -0.5vh;
        padding-left: 0.5vh;
        padding-right: 0.6vh;
        padding-top: 0.15vh;
        padding-bottom: 0.25vh;
    }

    .opening {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .opening h1 {
        font-size: 7vh;
    }

    .opening h2 {
        font-size: 5vh;
    }

    .opening h3 {
        font-size: 4vh;
    }

    .closing {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .closing h1 {
        font-size: 7vh;
    }
}
